{% extends 'base.html.twig' %}

{% block title %}Busca feita!{% endblock %}

{% block body %}

<h2>Mostrando resultado para '{{termoDeBusca}}'</h2>

{% for item in produtosEncontrados %}
      <BR>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/{{item.imagem}}">
        <div class="card-body">
          <h5 class="card-title">{{item.nome}}</h5>
          <h6 class="card-text">{{item.descricao}}</h6>
            <h6 class="card-text">R$:{{item.preco}}</h6>
          <a href="/produto/{{item.id}}" class="btn btn-primary">Comprar!</a>
        </div>
      </div>
{% endfor %}

{% endblock %}
