{% extends 'base.html.twig' %}

{% block title %}{{nomeDaCategoria}}{% endblock %}

{% block body %}

<h2>Exibindo: {{nomeDaCategoria}}</h2>

{% for item in produtos %}
    <BR>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/{{item.imagem}}">
        <div class="card-body">
            <h5 class="card-title">{{item.nome}}</h5>
            <h6 class="card-text">{{item.descricao}}</h6>
            <a href="/produto/{{item.id}}" class="btn btn-primary">Detalhes</a>
        </div>
    </div>
{% endfor %}



{% endblock %}
