    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


{% include ('navbar.html.twig') %}  <br><br><br>

<h2>{{ produto.nome }}</h2>
<img src="/images/{{ produto.imagem }}" width="500">
<br />
{{ produto.descricao }}
<br /><br />

R$ {{ produto.preco }}
<br />
<a href="/carrinho/{{ produto.id }}">
<input type="button" value="Comprar">
</a>

